.DeliveryView {
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem;
  max-width: 800px;
}

.DeliveryView .Form {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 2rem;
  margin-top: 4rem;
}

.DeliveryView .Form .City {
  grid-column: 1 / span 2;
}

.DeliveryView .Button {
  align-self: flex-start;
  margin-top: 2rem;
}

@media (max-width: 450px) {
  .DeliveryView .Form {
    grid-template-columns: 1fr;
  }

  .DeliveryView .Form .City {
    grid-column: 1;
  }
}
