.DeliveryView{
    padding: 2rem 3rem;
}

.DeliveryView .Thanks h2{
    text-align: center;
}

.DeliveryView .Thanks p{
    margin-top: 1rem;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    color: black;
}

.DeliveryView .Status-Title{
    margin-top: 4rem;
}

.DeliveryView .Status-Title .Hr{
    margin-top: 1rem;
    border: 1px solid #d3d3d3;
}

.DeliveryView .Statuses{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
