.MenuView{
    display: grid;
    grid-template-columns: auto 1fr 300px;
    gap: 1rem;
    align-items: center;
    padding: 3rem 3rem;
}

.MenuView .TreeView{
    align-self: flex-start;
}

.MenuView .FilterTabs{
    display: flex;
    gap: 1rem;
}

.MenuView .PizzaCards{
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    grid-column: 2 / span 2;
}

@media screen and (max-width: 1440px) {
    .MenuView .PizzaCards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .MenuView .PizzaCards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    .MenuView .PizzaCards{
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (max-width: 650px) {
    .MenuView .PizzaCards{
        grid-template-columns: 1fr;
    }
}