.MenuView {
  display: grid;
  padding: 6rem 1rem;
}

.MenuView .Tabs {
  margin-top: 3rem;
}

.MenuView .Tabs .Items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.MenuView .Tabs .Items .Hr {
  height: 1px;
  background: var(--color-sixth);
}

.MenuView .Tabs .Items {
  margin-top: 1rem;
}

.MenuView .Tabs .Items li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
