.Button{
    display: flex;
    justify-content: center;
    padding: var(--p-0_5) var(--p-1);
    border : 0;
    background: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
}

.Button.Button-light{
    background: transparent;
    border: 1px solid var(--color-white);
}

.Button.Button-tab{
    background: #F8F8F8;
    color: var(--color-black);
}

.Button.Button-icon{
    background: transparent;
    color: var(--color-black);
    padding: 0;
}

.Button.Button-huge{
    padding: 1rem;
}

.Button.Button-light2{
    background: transparent;
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

.Button.Button-disabled{
    opacity: 0.3;
    cursor: not-allowed;
}