.Counter {
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 0.3rem;
  background-color: var(--color-fourth);
  border-radius: 8%;
}

.Counter button {
  padding: 4px;
  border-radius: 20%;
}

.Counter .IncreaseButton {
  background-color: var(--color-eight);
  color: var(--color-seventh);
}

.Counter .DecreaseButton {
  background-color: var(--color-primary);
}
