.Counter {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: var(--color-fourth);
  border-radius: 5px;
  column-gap: 0.8rem;
  width: fit-content;
}

.Counter button {
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 5px;
}

.Counter .IncreaseButton {
  background-color: var(--color-eighth);
  color: var(--color-seventh);
}

.Counter .DecreaseButton {
  background-color: var(--color-primary);
}
