.Counter {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: var(--color-fourth);
  border-radius: 5px;
  column-gap: 0.8rem;

  justify-content: space-between;
}

.Counter .DecreaseButton {
  background-color: var(--color-primary);
  width: 25px;
  height: 25px;
  align-items: center;
  border-radius: 5px;
}
