.Hero {
  position: relative;
  min-height: 900px;
  height: 100vh;
}

.Hero-Small {
  min-height: auto;
  height: 300px;
}

.Hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.Hero .Background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  opacity: 0.5;
  z-index: -1;
}
