.TitleBreadcrumbBar{
    
}

.TitleBreadcrumbBar h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: var(--color-primary);
}

.TitleBreadcrumbBar p{
    text-align: center;
    color: var(--color-primary);
}

.TitleBreadcrumbBar .Breadcrumb{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.TitleBreadcrumbBar .Breadcrumb a{
    color: var(--color-primary);
}

.TitleBreadcrumbBar .Breadcrumb svg{
    color: var(--color-primary);
}