.PaymentSummary{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 0.5px solid #bababaab;
    border-radius: 0.5rem;
}

.PaymentSummary .Header ul{
    display: flex;
    justify-content: space-between;
}

.PaymentSummary .Header li{
    font-weight: 700;
}

.PaymentSummary .Hr{
    margin-top: 0.5rem;
    border-top: 1px solid #bababaab;
}

.PaymentSummary .Products{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.PaymentSummary .Products .Content{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.PaymentSummary .Products p{
    color: black;
}

.PaymentSummary .Product{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.PaymentSummary .Product img{
    width: 100px;
}

.PaymentSummary .Summary{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 3rem;
}

.PaymentSummary .Summary p{
    color: black;
}

.PaymentSummary .Summary .Price, .Delivery div, .Total{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}