.AboutUsView {
  padding: 8em 0;
  background: var(--color-fourth);
}

.AboutUsView ul {
  display: flex;
  justify-content: space-between;
}

.AboutUsView li svg {
  color: var(--color-secondary);
}

.AboutUsView .Content-1 {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
