.Logo {
  position: relative;
  flex-shrink: 0;
  display: flex;
  width: 171px;
  height: 160px;
  z-index: 1;
}

.Logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Logo-Small {
  width: 141px;
  height: 120px;
}
