.Basket{

}

.Basket .Content{
    position: relative;
    display: flex;
}

.Basket .Amount{
    position: absolute;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F5DD61;
}

.Basket .Amount p{
    font-size: 0.8rem;
    font-weight: 700;
    color: black;
}