.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal .Content {
  position: relative;
  display: flex;
  border-radius: 7px;
  padding: 0.05%;
  margin: 0 auto;
  background-color: var(--color-primary);
  overflow: hidden;
}

@media (max-width: 650px) {
  .Modal .Content {
    border-radius: 0px;
  }
}
