.TextInputShared {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.TextInputShared .Caption {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black);
}

.TextInputShared .Caption-Error {
  color: var(--color-error);
}
