.Header {
  display: flex;
  padding: 1rem 1rem;
}

.Header .Items {
  padding: 0 3rem;
}

.Header .Items li {
  display: inline-block;
  padding: 0.5rem 1rem;
}

.Header p,
.Header a {
  display: inline-block;
  color: var(--color-primary);
  text-transform: uppercase;
  cursor: pointer;
}

.Header p:hover,
.Header a:hover {
  color: var(--color-secondary);
}
