.Viewport {
  overflow: hidden;
}

.Container {
  gap: 0.6rem;
  backface-visibility: hidden;
  display: flex;
}

.Slide,
.SelectedSlide {
  height: 13rem;
  flex: 0 0 45%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.35rem;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
}

.SelectedSlide {
  border-color: var(--color-secondary);
}

.Image {
  border-radius: 1.8rem;
  display: block;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.Controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.Buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.Counter {
  margin-top: auto;
  width: 100%;
  text-align: center;
}
.AddButton {
  margin-top: auto;
  margin-left: auto;
  padding: 4px;
}
.ProductInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 0.6rem;
  align-items: top;
}
.ProductName {
  font-weight: 700;
}
.ProductPrice {
  color: var(--color-sixth);
  white-space: nowrap;
}
