.Checkbox {
  display: flex;
  flex-direction: column;
}

.Checkbox .Content {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.Checkbox .Rectangle {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-sixth);
}

.Checkbox .Rectangle .Icon {
  color: var(--color-secondary);
}

.Checkbox-Error p {
  color: var(--color-error);
}

.Checkbox .ErrorMessage {
  margin-top: 0.5rem;
}
