.OrderView {
  position: relative;
  padding: 6rem 1rem;
}

.OrderView .Button {
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid var(--color-secondary);
  animation: moveButton 1.5s infinite ease-in-out;
}

.OrderView .Button svg {
  color: var(--color-secondary);
}

.OrderView .Thanks h2 {
  text-align: center;
}

.OrderView .Thanks p {
  margin-top: 1rem;
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  color: var(--color-black);
}

.OrderView .Status-Title {
  margin-top: 4rem;
}

.OrderView .Status-Title .Hr {
  margin-top: 1rem;
  border: 1px solid #d3d3d3;
}

.OrderView .Statuses {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 500px) {
  .OrderView .Thanks h2 {
    font-size: 40px;
  }

  .OrderView .Thanks p {
    font-size: 20px;
  }

  .OrderView .Status-Title h3 {
    font-size: 30px;
  }
}

@keyframes moveButton {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 5px);
  }
}
