.BasketItem {
  display: flex;
  justify-content: space-between;
}

.BasketItem .ProductDetails {
  display: flex;
  flex-direction: column;
}

.BasketItem .ProductDetails .Name {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: bold;
}

.BasketItem .ProductDetails .Name span {
  font-size: 13px;
  font-weight: 400;
}

.BasketItem .ProductDetails .Ingredients {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.BasketItem .Right .Price {
  text-align: end;
  font-weight: bold;
}
