.BasketModalView {
  align-items: flex-start;
  padding-top: 3rem;
  overflow-y: auto;
}

.BasketModalView .BasketModalView-Content {
  display: flex;
  width: 90vw;
  max-width: 800px;
}

.BasketModalView .BasketModalView-Content img {
  width: 150px;
  object-fit: cover;
}

.BasketModalView .BasketModalView-Content .Content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.BasketModalView .BasketModalView-Content .ScrollableContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.BasketModalView .BasketModalView-Content .Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-fourth);
}

.BasketModalView .BasketModalView-Content .Title {
  font-weight: 600;
  font-size: 18px;
}

.BasketModalView .BasketModalView-Content .Buttons {
  display: flex;
  padding: 1rem;
}

.BasketModalView .BasketModalView-Content .Buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.BasketModalView .BasketModalView-Content .Buttons button {
  flex: 1;
}

.BasketModalView .BasketModalView-Content .ContinueShoppingButton {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-primary);
  color: var(--color-black);
}

.BasketModalView .BasketModalView-Content .CloseButton {
  background: transparent;
}

.BasketModalView .BasketModalView-Content .BasketInfo {
  padding-left: 20px;
  padding-right: 20px;
  text-align: start;
}

.BasketModalView .BasketModalView-Content .BasketInfo .Products {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.BasketModalView .BasketModalView-Content .EmptyBasketInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 40px 0px;
  font-weight: 700;
  color: var(--color-sixth);
}

.BasketModalView .BasketModalView-Content .Delivery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  margin-top: 1rem;
}

.BasketModalView .BasketModalView-Content .DeliveryCities {
  grid-column: 1 / span 3;
}

.BasketModalView .BasketModalView-Content .Street {
  grid-column: 1 / span 2;
}

@media (max-width: 650px) {
  .BasketModalView {
    padding: 0;
  }

  .BasketModalView .BasketModalView-Content .Buttons {
    position: sticky;
    bottom: 0;
    background: var(--color-primary);
  }

  .BasketModalView .BasketModalView-Content {
    width: 100vw;
  }

  .BasketModalView .BasketModalView-Content img {
    width: 0;
  }
}

@media (max-width: 475px) {
  .BasketModalView .BasketModalView-Content .Delivery {
    grid-template-columns: 1fr;
  }

  .BasketModalView .BasketModalView-Content .DeliveryCities {
    grid-column: 1;
  }

  .BasketModalView .BasketModalView-Content .Street {
    grid-column: 1;
  }
}

@media (max-width: 430px) {
  .BasketModalView .BasketModalView-Content .Buttons {
    flex-direction: column;
  }
}
