.BasketDrawer{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.BasketDrawer .Content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 90%;
}

.BasketDrawer .Content .Btn-Arrow{
    align-self: flex-start;
}

.BasketDrawer h3{
    padding: 3rem 0;
    padding-bottom: 0;
}

.BasketDrawer .Header{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem
}

.BasketDrawer .Header .Text{
    color: var(--black);
    font-weight: 700;
}

.BasketDrawer hr{
    margin-top: 0.5rem;
}

.BasketDrawer .Items{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    overflow-y: auto;
}

.BasketDrawer .Item{
    display: flex;
    justify-content: space-between;
}

.BasketDrawer .Item .Product{
    display: flex;
    gap: 0.5rem;
}

.BasketDrawer .Item img{
    width: 100px;
}

.BasketDrawer .Item .Title{
    color: var(--black);
    font-weight: 700;
}

.BasketDrawer .Item .Text{
    color: var(--black);
}

.BasketDrawer .Item .Price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BasketDrawer .Item .Remove{
    text-align: right;
    color: var(--black);
    cursor: pointer;
}

.BasketDrawer .Summary{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.BasketDrawer .Summary .Text{
    color: var(--black);
    font-weight: 700;
}

.BasketDrawer .Summary .Price{
    color: var(--black);
}

.BasketDrawer .Button{
    margin-top: auto;
    flex-shrink: 0;
}